* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bs-gray-300) !important;
    background: linear-gradient(to right, var(--bs-white), var(--bs-gray-300)) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    height: 100vh !important;
}

.my-container {
    background-color: var(--bs-white);
    border-radius: 30px;
    box-shadow: 0 5px 15px var(--bs-gray-400);
    position: relative;
    overflow: hidden;
    width: 850px;
    max-width: 100%;
    min-height: 550px;
}

.my-container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.my-container span {
    font-size: 12px;
}

.my-container a {
    color: var(--bs-primary);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.my-container button {
    background-color: var(--bs-primary);
    color: var(--bs-white);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.my-container button.hidden {
    background-color: transparent;
    border-color: var(--bs-white);
}

.my-container form {
    background-color: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.my-container form h1 {
    color: var(--bs-primary);
}

.my-container input {
    background-color: var(--bs-gray-200);
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.my-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.my-sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.my-container.active .my-sign-in {
    transform: translateX(100%);
}

.my-sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.my-container.active .my-sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: my-move 0.6s;
}

@keyframes my-move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.my-social-icons {
    margin: 20px 0;
}

.my-social-icons a {
    border: 1px solid var(--bs-gray-100);
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.my-toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.my-container.active .my-toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.my-toggle {
    background-color: var(--bs-sub-primary);
    height: 100%;
    background: linear-gradient(to right, var(--bs-primary), var(--bs-sub-primary));
    color: var(--bs-white);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.my-container.active .my-toggle {
    transform: translateX(50%);
}

.my-toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.my-toggle-left {
    transform: translateX(-200%);
}

.my-container.active .my-toggle-left {
    transform: translateX(0);
}

.my-toggle-right {
    right: 0;
    transform: translateX(0);
}

.my-container.active .my-toggle-right {
    transform: translateX(200%);
}